<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vunke.ec">

    <!--获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- WindowManger 权限(浮动窗口) -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".base.MyApplication"
        android:icon="@mipmap/yicun"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity android:name="com.vunke.ec.activity.MainActivity" >

        </activity>
        <!--首页-->
        <activity android:name="com.vunke.ec.activity.HomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--首页2-->
        <activity android:name="com.vunke.ec.activity.FunctionActivity">

        </activity>
        <!--分类-->
        <activity android:name="com.vunke.ec.activity.ClassifyActivity" >

        </activity>
        <!--党务公开-->
        <activity android:name="com.vunke.ec.activity.PartyAffairsPublicityActivity" >

        </activity>
        <!--在线学习-->
        <activity android:name="com.vunke.ec.activity.OnlineLearnActivity">

        </activity>
        <!--益村信息平台-->
        <activity android:name="com.vunke.ec.activity.Function2Activity" >

        </activity>
        <!--党员教育-->
        <activity android:name="com.vunke.ec.activity.PartyAffairsActivity" >

        </activity>
        <!--村务-->
        <activity android:name="com.vunke.ec.activity.VillageAffairsActivity">

        </activity>
        <!--办事指南-->
        <activity android:name="com.vunke.ec.activity.OfficeGuideActivity">

        </activity>
        <!--办事须知-->
        <activity android:name="com.vunke.ec.activity.OffficeNoticeActivity">

        </activity>
        <!--精准扶贫-->
        <activity android:name="com.vunke.ec.activity.PovertyAlleviationActivity">

        </activity>
        <!--详情-->
        <activity android:name="com.vunke.ec.activity.DetailsActivity">

        </activity>
        <!--视频播放-->
        <activity android:name="com.vunke.ec.activity.VideoPlayActivity">

        </activity>
        <!--政务-->
        <activity android:name="com.vunke.ec.activity.GovernmentAffairsActivity">

        </activity>
        <!--走进益阳-->
        <activity android:name="com.vunke.ec.activity.WalkIntoYiYangActivity">

        </activity>
        <!--党员教育-->
        <activity android:name=".activity.PartyEducationActivity">

        </activity>
        <!--政务公开-->
        <activity android:name=".activity.GovernmentAffairsPublicityActivity">

        </activity>
        <!-- -->
        <service android:name="com.vunke.ec.service.killSelfService">
        </service>

    </application>

</manifest>